<%- include('./partials/dashboard/header') %>
<br />
<div class="container">
  <h4>
    Hello, <%= user.alias %>
  </h4>
  <% if (user.isVerified) { %>
  <div class="alert alert-success" role="alert">
    <i class="fa fa-check" aria-hidden="true"></i> Verified Account
  </div>
  <% } %>
  <br />
  <ul class="nav nav-tabs">
    <li>
      <a
        class="active nav-link active"
        id="profile-tab"
        data-toggle="pill"
        href="#profile"
        role="tab"
        aria-controls="profile"
        aria-selected="false"
      >
        Personal Info
      </a>
    </li>
    <!-- <li>
      <a
        class="nav-link"
        id="messages-tab"
        data-toggle="pill"
        href="#messages"
        role="tab"
        aria-controls="messages"
        aria-selected="false"
      >
        Messages <span class="badge badge-secondary">1</span>
      </a>
    </li> -->
    <li>
      <a
        class="nav-link"
        id="EHRs-tab"
        data-toggle="pill"
        href="#EHRs"
        role="tab"
        aria-controls="EHRs"
        aria-selected="false"
      >
        EHRs
      </a>
    </li>
    <% if (user.isSupervisor) { %>
    <li>
      <a
        class="nav-link"
        id="requests-tab"
        data-toggle="pill"
        href="#requests"
        role="tab"
        aria-controls="requests"
        aria-selected="false"
      >
        Requests
      </a>
    </li>
    <% } %>
    <li>
      <a
        class="nav-link"
        id="settings-tab"
        data-toggle="pill"
        href="#settings"
        role="tab"
        aria-controls="settings"
        aria-selected="false"
      >
        Settings
      </a>
    </li>
  </ul>
  <br />
  <%- include('./partials/messages') %>
  <div class="tab-content" id="tabContent">
    <!-- Personal Info tab -->
    <%- include('./partials/dashboard/personal-info', {user: user}) %>

    <!-- Messages tab -->
    <%- include('./partials/dashboard/messaging-system', {user: user}) %>

    <!-- EHRs tab -->
    <% if (!user.isPhysician) { %> <%-
    include('./partials/dashboard/ehr-patient') %> <% } %> <% if
    (user.isPhysician) { %> <%- include('./partials/dashboard/ehr-physician') %>
    <% } %>

    <!-- EHRs tab -->
    <% if (user.isSupervisor) { %> <%- include('./partials/dashboard/requests')
    %> <% } %>

    <!-- Settings tab -->
    <div
      class="tab-pane fade"
      id="settings"
      role="tabpanel"
      aria-labelledby="settings-tab"
    >
      <div class="row">
        <!--Change Password-->
        <%- include('./partials/dashboard/change-password') %>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <!--Request EHR Access-->
        <% if (user.isPhysician) { %> <%-
        include('./partials/dashboard/request-access') %> <% } %>
        <!--Report Physician-->
        <% if (!user.isPhysician) { %> <%-
        include('./partials/dashboard/report-physician') %> <% } %>
      </div>
      <br />
      <div class="row">
        <!--Request History-->
        <% if (!user.isPhysician) { %> <%-
        include('./partials/dashboard/request-history') %> <% } %>
        <!--Analyze Data-->
        <% if (user.isPhysician) { %> <%-
        include('./partials/dashboard/analyze-data') %> <% } %>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <!--Upload Data-->
        <% if (user.isPhysician) { %> <%-
        include('./partials/dashboard/upload-data') %> <% } %>
      </div>
    </div>
  </div>
  <%- include('./partials/footer') %>
</div>
